<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
    <p><%= link_to "退会", user_path(@user.id), class: "btn btn-sm btn-danger",  method: :delete, "data-confirm" => "本当に退会しますか？"%></p>
  <% end %>
</div>

<div class="card-list-container py-5">
  <% @posts.each do |post| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(500,450), class: "card-img-top post-image"; %>
    <% end %>
    <div class="card-body">  
      <div class="row">
        <div class="col-12">
          <p class="card-title">タイトル：<%= post.title %></p>
          <p class="caed-text">本文：<%= post.body %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
