<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 mt-4 mx-auto">
      <h4 class="text-dark mb-0">
        ユーザー名:
        <%= @user.name %>
      </h4>
      <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle mt-3 user-page-profile"; %>
      <% if @user == current_user %>
        <hr>
        <p><%= link_to "プロフィール編集", edit_user_path(@user.id), class: "btn btn-sm btn-info "; %></p>
        <p><%= link_to "退会", user_path(@user.id), class: "btn btn-sm btn-danger",  method: :delete, "data-confirm" => "本当に退会しますか？"%></p>
      <% end %>
    </div>
  


  
    <div class="col-md-8 mx-auto">
      <% @posts.each do |post| %>
      <div class="card mt-4 shadow-lg">
        <%= link_to post_path(post.id) do %>
          <%= image_tag post.get_image(500,450), class: "card-img-top post-image"; %>
        <% end %>
        <div class="card-body">  
          <p class="card-title">タイトル：<%= post.title %></p>
          <p class="caed-text">本文：<%= post.body %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

  