<div>
  <%= image_tag @post.get_image(500,450) %>
  <p>タイトル：<%= @post.title %></p>
  <p>本文：<%= @post.body %></p>
  <p>ユーザーネーム：<%= @post.user.name %></p>
  <p>投稿日：<%= l @post.date, format: :long %></p>
  <% if @post.user == current_user %>
    <p><%= link_to "編集", edit_post_path(@post.id) %></p>
    <p><%= link_to "削除", post_path(@post.id), class: "btn btn-sm btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？"%></p>
  <% end %>
</div>
