<!DOCTYPE html>
<html>
  <head>
    <title>PlantDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <li>
        <%= link_to "Plant Diary", root_path %>
      </li>
      <li>
        <a>新規登録</a>
      </li>
      <li>
        <a>サインイン</a>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
    </header>
    <%= yield %>
  </body>
</html>
