<!DOCTYPE html>
<html>
  <head>
    <title>PlantDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/06e82563ac.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-dark bg-success">
        <div class = "container">
          <li>
            <%= link_to "PlantDiary", root_path, class: "navbar-brand text-light" %>
          </li>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class = "collapse navbar-collapse" id="navbarNavDropdown">
            <ul class = "navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "マイページ", user_path(current_user.id), class: "nav-link text-light"  %>    
                </li>
                <li class="nav-item">
                  <%= link_to "投稿フォーム", new_post_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザー一覧", users_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link text-light" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class = "mb-auto">
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </main>
    <footer>
      <div class = "container mt-5">
        <div class = "row">
          <div class ="mx-auto">
            
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
